@charset "utf-8";
html,
head,
body,
div,
img,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
table,
thead,
tbody,
tr,
td,
ul,
li,
ol,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Microsoft YaHei", "宋体", Arial, Verdana, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 62.5%;
}
/*按钮*/
.btn-content {
  position: absolute;
  bottom: 5.8%;
  left: 4.8%;
  right: 4.8%;
  height: 200px;
  *zoom: 1;
}
.btn-content:before,
.btn-content:after {
  content: " ";
  display: table;
}
.btn-content:after {
  clear: both;
}
.btn-content .btn {
  width: 49%;
  height: 100%;
}
.btn-content .btn-back-green {
  background: url('../img/btn-back-green.png') 0 0 no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  float: left;
  margin-right: 1%;
}
.btn-content .btn-back {
  background: url('../img/btn-back.png') 0 0 no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  float: left;
  margin-right: 1%;
}
.btn-content .btn-touzi-green {
  background: url('../img/btn-tz-green.png') 0 0 no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  float: left;
  margin-left: 1%;
}
.btn-content .btn-touzi {
  background: url('../img/btn-tz.png') 0 0 no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  float: left;
  margin-left: 1%;
}
.btn-content .btn-download-green {
  background: url('../img/btn-download-green.png') 0 0 no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  float: left;
  margin-left: 1%;
}
.btn-content .btn-download {
  background: url('../img/btn-download.png') 0 0 no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  float: left;
  margin-left: 1%;
}
/*弹窗*/
.mask {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.mask img {
  width: 96%;
  margin-top: 25%;
}
/*活动首页*/
.wrap-index {
  width: 100%;
  height: 100%;
  background: #32b1aa url('../img/first.jpg') center center no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  position: relative;
}
.wrap-index .logo {
  position: absolute;
  left: 7%;
  right: 7%;
  top: 2.2%;
}
.wrap-index .logo img {
  width: 50%;
}
.wrap-index .btn-first {
  position: absolute;
  left: 4.8%;
  right: 4.8%;
  bottom: 1.6%;
  height: 19.5%;
  *zoom: 1;
  text-align: center;
}
.wrap-index .btn-first:before,
.wrap-index .btn-first:after {
  content: " ";
  display: table;
}
.wrap-index .btn-first:after {
  clear: both;
}
.wrap-index .btn-begin {
  display: block;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  background: url('../img/btn-begin.png') 0 0 no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
.wrap-index .btn-about {
  position: absolute;
  bottom: 0;
  right: 19%;
  width: 17%;
  height: 50%;
  background: url('../img/btn-about.png') center 0 no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
.wrap-index .btn-rank {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 17%;
  height: 50%;
  background: url('../img/btn-rank.png') center 0 no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
/*大赢家*/
.wrap-winner {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: -webkit-linear-gradient(top, #fff6cc 0%, #ffeaa1 100%);
  background-image: linear-gradient(to bottom, #fff6cc 0%, #ffeaa1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff6cc', endColorstr='#ffffeaa1', GradientType=0);
  /*.btn-copy{
    float: left;
    height: 90 / @ref_width;
    padding: 3px 5px;
    margin-left: -1px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: #9c7900;
    box-shadow: 5px 5px 1px #cdb45a;
    img{
      height: 100%;
    }
  }*/
}
.wrap-winner .btn {
  float: left;
  height: auto;
}
.wrap-winner .btn img {
  width: 100%;
}
.wrap-winner .btn + .btn {
  margin-left: 3.5%;
  width: 47.5%;
}
.wrap-winner .light {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: url("../img/bg-light2.png") center center no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-transform-origin: 50% 65%;
  -moz-transform-origin: 50% 65%;
  -ms-transform-origin: 50% 65%;
  transform-origin: 50% 65%;
  -webkit-animation: light 5.5s linear infinite;
  animation: light 5.5s linear infinite;
}
.wrap-winner .btn-content {
  height: auto;
}
.wrap-winner .context {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0px;
}
.wrap-winner .input-box {
  *zoom: 1;
  display: inline-block;
  height: 31.14186851px;
  line-height: 31.14186851px;
  padding: 2px 5px;
  border: 1px solid #a3810e;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 1px #cdb45a;
}
.wrap-winner .input-box:before,
.wrap-winner .input-box:after {
  content: " ";
  display: table;
}
.wrap-winner .input-box:after {
  clear: both;
}
.wrap-winner .input-copy {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #9c7900;
}
.wrap-winner .tip {
  font-size: 1.5rem;
  color: #9c7900;
  height: 31.14186851px;
  line-height: 31.14186851px;
  padding: 0 0 0 10px;
}
.wrap-winner .pop-zs img {
  height: 42.14186851px;
}
.wrap-winner .zongzi {
  position: absolute;
  top: 58%;
  width: 100%;
  text-align: center;
}
.wrap-winner .hands-l {
  position: absolute;
  left: 35.5%;
  top: -3%;
  width: 8.5%;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-animation: handsLeft 1s linear infinite;
  animation: handsLeft 1s linear infinite;
}
.wrap-winner .hands-r {
  position: absolute;
  right: 9.5%;
  top: -80%;
  width: 40.6%;
  -webkit-transform-origin: 20% 90%;
  -moz-transform-origin: 20% 90%;
  -ms-transform-origin: 20% 90%;
  transform-origin: 20% 90%;
  -webkit-animation: handsRight 1s linear infinite;
  animation: handsRight 1s linear infinite;
}
.wrap-winner .zz-body {
  width: 37%;
}
.mask img.zsm {
  width: 85%;
}
/*获奖*/
.wrap-success {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: -webkit-linear-gradient(top, #f5fedf 0%, #91efc6 100%);
  background-image: linear-gradient(to bottom, #f5fedf 0%, #91efc6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5fedf', endColorstr='#ff91efc6', GradientType=0);
}
.wrap-success .light {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/bg-light.png") center center no-repeat;
  -webkit-transform-origin: 50% 55%;
  -moz-transform-origin: 50% 55%;
  -ms-transform-origin: 50% 55%;
  transform-origin: 50% 55%;
  -webkit-animation: light 5.5s linear infinite;
  animation: light 5.5s linear infinite;
}
.wrap-success .cell-content {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/state-success.png") center center no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
.wrap-success .zongzi {
  position: absolute;
  top: 55%;
  right: 0;
  width: 100%;
  height: 18.6%;
}
.wrap-success .zongzi .zz-body {
  width: 37%;
  position: absolute;
  right: 5.3%;
  z-index: 3;
}
.wrap-success .zongzi .hands-l {
  position: absolute;
  right: 32.5%;
  top: 1%;
  width: 5.5%;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-animation: handsLeft 1s linear infinite;
  animation: handsLeft 1s linear infinite;
}
.wrap-success .zongzi .hands-r {
  position: absolute;
  right: 8.5%;
  top: 7%;
  width: 7.6%;
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-animation: handsRight 1s linear infinite;
  animation: handsRight 1s linear infinite;
}
/*失败*/
.wrap-fail {
  width: 100%;
  height: 100%;
  background: url('../img/state-fail.jpg') center center no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  position: relative;
}
/*已拆过*/
.wrap-already {
  width: 100%;
  height: 100%;
  background: url('../img/state-already.jpg') center center no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  position: relative;
}
/*已结束*/
.wrap-over {
  width: 100%;
  height: 100%;
  background: url('../img/state-over.jpg') center center no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  position: relative;
}
.wrap-over .zongzi {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -15%;
}
.wrap-over .zongzi .zz-body {
  width: 49%;
}
.wrap-over .zongzi .cry-1,
.wrap-over .zongzi .cry-2 {
  position: absolute;
  top: 34.6%;
  left: 50%;
  width: 10.3%;
  height: 51%;
  margin-left: -12.56%;
  background: url("../img/cry-1.png") center 50% repeat-y;
  -webkit-background-size: 70% 200%;
  -moz-background-size: 70% 200%;
  -o-background-size: 70% 200%;
  background-size: 70% 200%;
  -webkit-animation: cry 1s linear infinite;
  animation: cry 1s linear infinite;
}
.wrap-over .zongzi .cry-2 {
  margin-left: 3%;
  top: 33%;
}
.wrap-over .nu {
  width: 6.6%;
  position: absolute;
  left: 57%;
  -webkit-animation: fenNu 1s linear infinite;
  animation: fenNu 1s linear infinite;
}
@keyframes light {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes light {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes cry {
  0% {
    background-position: center 100%;
  }
  100% {
    background-position: center 0%;
  }
}
@-webkit-keyframes cry {
  0% {
    background-position: center 100%;
  }
  100% {
    background-position: center 0%;
  }
}
@keyframes handsLeft {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes handsLeft {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes handsRight {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes handsRight {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes fenNu {
  0% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  60% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  80% {
    -webkit-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
  }
}
@keyframes fenNu {
  0% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  60% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  80% {
    -webkit-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
  }
}
