*, *:before, *:after {
	-webkit-box-sizing:border-box;
    box-sizing:border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead{
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    outline: 0 none;
    padding: 0;
	border:0;
}
ol,ul,li{
    list-style: none outside none;
}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}/**/
input {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
/* Body */
html{height:100%;font-size:62.5%;-webkit-text-size-adjust:none}
body {
	background: #FFF;
	color:#666;
	font-size:14px;
	font-size:1.4rem; /* Base font size: 14px */
	font: 1.4rem/1.5 'Microsoft YaHei', arial, \5b8b\4f53, sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	-webkit-user-select:none;
	position:relative;
	/* 抗锯齿 =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x:hidden;
}
/* Headings */
h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-size:100%
}
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 *

/** 重置文本格式元素 **/
a {color: #555; text-decoration: none;outline: 0;}
a:hover{text-decoration:none;color:#ee503a}
img{width:100%;}
/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
/* 清除浮动 */
.clear:after{
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.clear, .clear {
  *zoom: 1;
}
/* Paragraphs */
*p:last-child {margin-bottom: 0;}
strong, b {font-weight: bold;}
::-moz-selection {background: #0065AD; color: #fff;}
::selection {background: #0065AD; color: #fff;}
/* Tbody */
tbody td {padding: .4em .4em;}
/*表单提示*/
::-webkit-input-placeholder {color: #999;} /* WebKit browsers */
::-moz-placeholder {color:#999;} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder {color:#999;} /* Mozilla Firefox 19+ */
::-ms-input-placeholder {color:#999;} /* Internet Explorer 10+ */
::-webkit-input-placeholder {
	color:#ccc;
    text-indent:10px;
	line-height:120%;
}
/*input,select,textarea{appearance:none;-webkit-appearance:none;border:none;}去除外观*/
input[type="text"]:focus,input[type="number"]:focus,input[type="password"]:focus,input[type="tel"]:focus{
  color:#000;
  outline:0;
}